<a href="https://colab.research.google.com/github/kamalsnair/Assignment/blob/main/Assignment_7_TFIDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Activity : 

1. For the bbc dataset apply the ML model for classification 

2. Apply TFIDF and do ML model building

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('/content/BBC News.csv')

In [4]:
data.head()

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

In [5]:
data.columns

Index(['ArticleId', 'Text', 'Category'], dtype='object')

In [6]:
data['Category'].unique()

array(['business', 'tech', 'politics', 'sport', 'entertainment'],
      dtype=object)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ArticleId  1490 non-null   int64
 1   Text       1490 non-null   object
 2   Category   1490 non-null   object
dtypes: int64(1), object(2)
memory usage: 35.0+ KB

In [8]:
data['Text'][9]

'fockers fuel festive film chart comedy meet the fockers topped the festive box office in north america  setting a new record for christmas day.  the sequel took $44.7m (£23.2m) between 24 and 26 december  according to studio estimates. it took $19.1m (£9.9m) on christmas day alone  the highest takings on that day in box office history. meet the fockers is the sequel to ben stiller comedy meet the parents  also starring robert de niro  blythe danner  dustin hoffman and barbra streisand. despite the success of meet the fockers  takings were down 26.5% on 2003 s figures - which was blamed on christmas falling over a weekend this year.   when christmas falls on a weekend  it s bad for business   said paul dergarabedian  president of exhibitor relations  which compiles box office statistics. the weekend s top 12 films took an estimated $121.9m (£63.3m)  compared with $165.8m (£86.1m) last year  when the third lord of the rings film dominated the box office. meet the fockers knocked last week s top film  lemony snicket s a series of unfortunate events  down to third place  with $12.5m (£6.5m). comedy fat albert - co-written by bill cosby - entered the chart in second place after opening on christmas day  taking $12.7m (£6.6m). the aviator  starring leonardo dicaprio as howard hughes  took $9.4m after expanding from 40 to 1 796 cinemas on christmas day.'

In [9]:
data['Category'][9]

'entertainment'

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
vector=CountVectorizer(stop_words='english')

In [12]:
bow= vector.fit_transform(data['Text'])

In [13]:
bow

<1490x24456 sparse matrix of type '<class 'numpy.int64'>'
	with 213866 stored elements in Compressed Sparse Row format>

In [14]:
type(bow)

scipy.sparse.csr.csr_matrix

In [15]:
bow.shape

(1490, 24456)

In [16]:
X=pd.DataFrame(bow.toarray(), columns=vector.get_feature_names_out())

In [17]:
X

,00,000,0001,000bn,000m,000th,001,001and,001st,0051,...,zonealarm,zones,zoom,zooms,zooropa,zorro,zuluaga,zurich,zutons,zvonareva
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1486,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1487,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1488,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1489,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
y=data['Category']

In [19]:
y

0            business
1            business
2            business
3                tech
4            business
            ...
1485    entertainment
1486    entertainment
1487         business
1488             tech
1489             tech
Name: Category, Length: 1490, dtype: object

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
# initialize LabelEncoder
lencod = LabelEncoder()
# fit_transform() converts the text to numbers
data['Category'] = lencod.fit_transform(data['Category'])

In [22]:
y=data['Category'] = lencod.fit_transform(data['Category'])

In [23]:
y

array([0, 0, 0, ..., 0, 4, 4])

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=123)

##1. Apply ML Model for Classification

Model-1 -Logistic Regression

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
lr=LogisticRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
accuracy_score(y_test,y_pred)

0.9630872483221476

Model-2 -KNN

In [27]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=13)
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
accuracy_score(y_test,y_pred)

0.4395973154362416

Model-3 SVM

In [28]:
from sklearn.svm import SVC
SV=SVC()
SV.fit(x_train,y_train)
y_pred=SV.predict(x_test)
accuracy_score(y_test,y_pred)

0.959731543624161

Model-4 Decision Tree

In [29]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(x_train,y_train)
y_pred=dt.predict(x_test)
accuracy_score(y_test,y_pred)

0.8288590604026845

Model-5 Voting Classifier

In [30]:
from sklearn.ensemble import VotingClassifier
lr=LogisticRegression()
knn=KNeighborsClassifier(n_neighbors=13)
SV=SVC()
Classifiers=[("log_reg",lr),("knn",knn),("SVM",SV)]
VC=VotingClassifier(estimators=Classifiers)
VC.fit(x_train,y_train)
y_pred=VC.predict(x_test)
accuracy_score(y_test,y_pred)

0.9563758389261745

Model-6 Bagging Classifier

In [31]:
bs_et=DecisionTreeClassifier()
from sklearn.ensemble import BaggingClassifier
bg=BaggingClassifier(base_estimator=bs_et,n_estimators=200)
bg.fit(x_train,y_train)
y_pred=bg.predict(x_test)
accuracy_score(y_test,y_pred)

0.9026845637583892

Model-7 Random Forecasting Classifier

In [32]:
from sklearn.ensemble import RandomForestClassifier
rt=RandomForestClassifier()
rt.fit(x_train,y_train)
y_pred=rt.predict(x_test)
accuracy_score(y_test,y_pred)

0.9463087248322147

High accuracy obtained at Random Forecasting Classifier-97.31%

To check standardised score in RandomForecast

In [33]:
from sklearn.model_selection import cross_val_score
rt=RandomForestClassifier()
cv_results=cross_val_score(rt,X,y,cv=5,scoring="accuracy")
cv_results.mean()

0.9550335570469798

## 2. Apply TFIDF & then apply ML Models

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [36]:
tfidf=TfidfVectorizer()

In [41]:
tfidf_transforms = tfidf.fit_transform(data['Text'])

In [42]:
tfidf_transforms.shape

(1490, 24746)

In [45]:
x=pd.DataFrame(tfidf_transforms.toarray(), columns=tfidf.get_feature_names_out())

In [46]:
x

,00,000,0001,000bn,000m,000th,001,001and,001st,0051,...,zonealarm,zones,zoom,zooms,zooropa,zorro,zuluaga,zurich,zutons,zvonareva
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.020274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.017389,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,0.0,0.030012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1486,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1487,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1488,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1489,0.0,0.023923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=150)

Model-1 -Logistic Regression

In [49]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
lr=LogisticRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
accuracy_score(y_test,y_pred)

0.9530201342281879

Model-2 -KNN

In [50]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=13)
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
accuracy_score(y_test,y_pred)

0.9026845637583892

Model-3 SVM

In [51]:
from sklearn.svm import SVC
SV=SVC()
SV.fit(x_train,y_train)
y_pred=SV.predict(x_test)
accuracy_score(y_test,y_pred)

0.9630872483221476

Model-4 Decision Tree

In [52]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(x_train,y_train)
y_pred=dt.predict(x_test)
accuracy_score(y_test,y_pred)

0.7919463087248322

Model-5 Voting Classifier

In [53]:
from sklearn.ensemble import VotingClassifier
lr=LogisticRegression()
knn=KNeighborsClassifier(n_neighbors=13)
SV=SVC()
Classifiers=[("log_reg",lr),("knn",knn),("SVM",SV)]
VC=VotingClassifier(estimators=Classifiers)
VC.fit(x_train,y_train)
y_pred=VC.predict(x_test)
accuracy_score(y_test,y_pred)

0.9530201342281879

Model-6 Bagging Classifier

In [54]:
bs_et=DecisionTreeClassifier()
from sklearn.ensemble import BaggingClassifier
bg=BaggingClassifier(base_estimator=bs_et,n_estimators=200)
bg.fit(x_train,y_train)
y_pred=bg.predict(x_test)
accuracy_score(y_test,y_pred)

0.8825503355704698

Model-7 Random Forecasting Classifier

In [55]:
from sklearn.ensemble import RandomForestClassifier
rt=RandomForestClassifier()
rt.fit(x_train,y_train)
y_pred=rt.predict(x_test)
accuracy_score(y_test,y_pred)

0.9563758389261745

High accuracy obtained at SVM-96.30%

To check standardised score in SVM

In [56]:
from sklearn.model_selection import cross_val_score
sv=SVC()
cv_results=cross_val_score(sv,X,y,cv=5,scoring="accuracy")
cv_results.mean()

0.94496644295302